
  
 .fitness-club {
    color: #212121;
    font-family: "Bebas Neue-Regular", Helvetica;
    font-size: 36px;
    font-weight: 400;
    left: 0;
    letter-spacing: 2.88px;
    line-height: 38px;
  }
  